<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cars - Lesson-5</title>
</head>

<body>
  <h1>Add Car to DB:</h1>
  <form action="/cars/add" method="post" name="car">
    <label>Марка: <input type="text" name="mark" id="mark" placeholder="Марка"></label><br>
    <label>Модель: <input type="text" name="model" id="model" placeholder="Модель"></label><br>
    <label>Год выпуска: <input type="date" name="year" id="year" placeholder="1900"></label><br>
    <label>Цена: <input type="number" name="price" id="price"> руб.</label><br>
    <input type="submit" value="Добавить">
  </form>
</body>

</html>