<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User from .hbs</title>
  <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
  <div class="user">
    <h2>{{fullName}}</h2>
    {{#if error}}
        <h3>Error!</h3>
    {{/if}}
    <ul>
        {{#each achievements}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
</body>
</html>