<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News. Lesson-4</title>
</head>
<body>
  <div class="news">
    <form action="/news" method="post" name="news">
      <label>Категория: <input type="text" name="category" id="category"></label><br>
      <label>Количество новостей: <input type="number" name="newsAmount" id="newsAmount"></label><br>

    </form>
    {{#each news}}
      <div class="news-item">
        <div class="news-item__date">{{date}} ({{category}})</div>
        <div class="news-item__title">{{title}}</div>
        <div class="news-item__text">{{text}}</div>
      </div>
    {{/each}}
  </div>
</body>
</html>