<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News. Lesson-4</title>
</head>
<body>
  <div class="news">
<!--    {{#if error}}
        <h3>Error!</h3>
    {{/if}}
-->
    {{#each news}}
      <div class="news-item">
        <div class="news-item__date">{{date}}</div>
        <div class="news-item__title">{{title}}</div>
        <div class="news-item__text">{{text}}</div>
      </div>
    {{/each}}
  </div>
</body>
</html>