<h2>Авторизация</h2>
{{#if error}}
    <h3>Ошибка авторизации!</h3>
    <h3 class="error-message">{{errmessage}}</h3>
{{/if}}
<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="checkbox" name="remember" id="remember" value="true"><label for="remember">Запомнить меня</label><br>
    <input type="submit">
</form>

<a href="/register">Зарегистрироваться</a>